<div>
    <h2 class="is-size-2 ml-3">Ready to study, {{enrollments.first_name}}?!</h2>
</div>


<section id="profile">
    <h3 class="is-size-3 ml-3 pb-2">Make a Study Group!</h3>

    <div class="topOfProfile">
        <div class="formWrapper">
            <form class="form" id="create_group" action="">
                <div>
                    <label class="label" for="group_name">Group Name: </label>
                    <input class="input" type="text" name="group_name" id="group_name">
                </div>
                <div>
                    <label class="label" for="group_description">Group Description: </label>
                    <input class="input" type="text" name="group_description" id="group_description">
                </div>
                <div>
                    <label class="label" for="topic_id">Topic: </label>
                    <select class="select" name="topic_id" id="topic_id">
                        {{#each topics}}<option value="{{id}}">{{topic_name}}</option>{{/each}}
                    </select>
                </div>
                <div>
                    <label class="label" for="skill_level">Skill Level: </label>
                    <select class="select" name="skill_level" id="skill_level">
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                    </select>
                </div>
                <div>
                    <label class="label" for="zoom_link">Zoom Link: </label>
                    <input class="input" type="text" name="zoom_link" id="zoom_link">
                </div>
                <div>
                    <label class="label" for="meet_time">Meet Time: </label>
                    <input class="input" type="text" name="meet_time" id="meet_time">
                </div>
                <button class="button has-background-info-dark has-text-white mt-3" type="submit">Submit</button>
            </form>
        </div>

        <div class="profileImg">
            <img class="image" src="./assets/group-of-students.jpg"
                alt="A group of students at a table studying together.">
        </div>
    </div>



    {{#if enrollments.user_id.length}}
    <div id = "user-group-list">
        {{#each enrollments.user_id as |group|}}
        <div>
            <div>
                <div>
                    <h2>
                        <a href="/groups/{{group.id}}">{{group.group_name}}</a>
                    </h2>
                    <p>
                        Study Topic: {{group.topic.topic_name}}!
                    </p>
                    <p>
                        Skill Level: {{group.skill_level}}
                    </p>
                    <p>
                        Time to Meet: {{group.meet_time}}
                    </p>
                    <p>
                        Created by: {{group.user.name}}
                    </p>
                </div>
            </div>
            <div>
                <form id="add-user" action="">
                    <label for="user_names">Add User: </label>
                    <select name="user_names" id="user_names">
                        {{!-- {{#unless enrollments.users.id}} --}}
                        {{#each ../users}}<option value="{{id}}">{{first_name}} {{last_name}} | {{user_name}} </option>
                        {{/each}}
                        {{!-- {{/unless}} --}}
                    </select>

                    <button type="submit">Add User</button>
                </form>

            </div>
            <div>
                <button data-id="{{group.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <script src="./js/groups.js"></script>
    <script src="./js/enrollUser.js"></script>

</section>